---
import { type BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {}

const { title, auther, description, pubDate, updatedDate, heroImage, paperUrl, slideUrl, badge, tags = [] } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll")
const slideFilePath = `/slide/${slideUrl}.pdf`;

import { Image } from "astro:assets";
---

<BaseLayout title={title} auther={auther} description={description} image={heroImage}, paperUrl={paperUrl}, slideUrl={slideUrl}, ogType="article">
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      <!-- {heroImage && <Image width={750} height={422} format="webp" src={heroImage} alt={title} class="w-full mb-6" />} -->
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      <h3 class="title my-2 text-2xl">{auther}</h3>
      {pubDate && <time>{displayDate}</time>}
      <br />
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {
        tags &&
          tags.map((tag) => (
            <a href={`/blog/tag/${tag}`} class="badge badge-outline ml-2 no-underline">
              {tag}
            </a>
          ))
      }
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      {
        paperUrl && (
          <a href={paperUrl} target="_blank" class="badge badge-primary no-underline  my-1">
            {" "}
            Paper
          </a>
          )
      }
       {
        slideUrl && (
          <a href={slideFilePath} target="_blank" class="badge badge-primary no-underline  my-1">
            {" "}
            Slide
          </a>
          )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
